junction.wimbes.de {
}

car.fi.junction.wimbes.de {
    reverse_proxy car_fi:5000
}

bike.fi.junction.wimbes.de {
    reverse_proxy bike_fi:5000
}

foot.fi.junction.wimbes.de {
    reverse_proxy foot_fi:5000
}

fi.junction.wimbes.de {
    reverse_proxy finland:80
}

de.junction.wimbes.de {
    reverse_proxy germany:80
}

nl.junction.wimbes.de {
    reverse_proxy netherlands:80
}

sg.junction.wimbes.de {
    reverse_proxy singapore:80
}
